    <div class="s-widget m-b-25">
        <h2 class="tile-title">
           News Feeds
        </h2>
        
        <div class="s-widget-body">
            <div id="news-feed"></div>
        </div>
    </div>
    <script type="text/javascript">
UI.loader.push(function(){
    if($('#news-feed')[0]){
        $('#news-feed').FeedEk({
	    FeedUrl: 'http://rss.cnn.com/rss/edition.rss',
	    MaxCount: 5,
	    ShowDesc: false,
	    ShowPubDate: true,
	    DescCharacterLimit: 0
        });
    }
});
    </script>

