    <div class="s-widget m-b-25">
        <h2 class="tile-title">
            Projects on going
        </h2>
        <div class="s-widget-body">
            <div class="side-border">
                <small>Joomla Website</small>
                <div class="progress progress-small">
                     <a href="#" data-toggle="tooltip" title="" class="progress-bar tooltips progress-bar-danger" style="width: 60%;" data-original-title="60%">
                          <span class="sr-only">60% Complete</span>
                     </a>
                </div>
            </div>
            <div class="side-border">
                <small>Opencart E-Commerce Website</small>
                <div class="progress progress-small">
                     <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-info" style="width: 43%;" data-original-title="43%">
                          <span class="sr-only">43% Complete</span>
                     </a>
                </div>
            </div>
            <div class="side-border">
                <small>Social Media API</small>
                <div class="progress progress-small">
                     <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-warning" style="width: 81%;" data-original-title="81%">
                          <span class="sr-only">81% Complete</span>
                     </a>
                </div>
            </div>
            <div class="side-border">
                <small>VB.Net Software Package</small>
                <div class="progress progress-small">
                     <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-success" style="width: 10%;" data-original-title="10%">
                          <span class="sr-only">10% Complete</span>
                     </a>
                </div>
            </div>
            <div class="side-border">
                <small>Chrome Extension</small>
                <div class="progress progress-small">
                     <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-success" style="width: 95%;" data-original-title="95%">
                          <span class="sr-only">95% Complete</span>
                     </a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
UI.loader.push(function(){
});
    </script>

