div.container div.col-lg-12.col-md-12 > hr.seperator {
    margin: 5px 0px;
    border: none 0px;
}

div.CodeMirror {
    height: 230px;
}

#cy2neo4results .tab-content {
    padding: 5px 5px;
    border: solid 1px black;
}

#cy2neo4results  div.tab-pane[role="tabpanel"] {
    border: none;
    height: 450px;
    padding: 0px;
}

#cy2neo4results  div[role="grid"] {
    margin: 5px;

    width: 100% !important;
    min-width: auto;
    max-width: fit-content;
}

#graph[role="tabpanel"] svg {
    width:  100%;
    height: 100%;
}

